.DS_Store
portfolio-assets/**/*.mp4
portfolio-assets/**/*.mov
!portfolio-assets/experiments/**/*.mp4
!portfolio-assets/videoAndPhotography/toaBoardGameTutorial/videos/*.mp4
!portfolio-assets/videoAndPhotography/dramaDokumentar/sequences/*.mp4
!portfolio-assets/videoAndPhotography/dramaDokumentar/images/*.mp4
!portfolio-assets/experiments/rive/*.mp4
!portfolio-assets/motionDesign/papirprinsessen/*.mp4
!portfolio-assets/experiments/frame-by-frame/*.mp4
!portfolio-assets/experiments/blender/ordinaryfolkStyle/*.mp4
!portfolio-assets/musicVisuals/kingtommi/videos/*.mp4
!portfolio-assets/musicVisuals/kingtommi/images/*.mp4
!portfolio-assets/musicVisuals/neonpriest/videos/*.mp4
!portfolio-assets/musicVisuals/neonpriest/*.mp4
!portfolio-assets/musicVisuals/ungklang/images/*.mp4
!portfolio-assets/motionDesign/denFantastiskeBus/*.mp4
!portfolio-assets/home/thumbnails/*.mp4
