.DS_Store
portfolio-assets/**/*.mp4
portfolio-assets/**/*.mov
!portfolio-assets/experiments/**/*.mp4
!portfolio-assets/videoAndPhotography/toaBoardGameTutorial/videos/*.mp4
!portfolio-assets/experiments/rive/*.mp4
!portfolio-assets/motionDesign/papirprinsessen/*.mp4
!portfolio-assets/experiments/frame-by-frame/*.mp4